<h1 style="text-align:center">Overzicht van onderhoudsopdrachten</h1>

<!-- About Me Box -->
<div class="col-md-4">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">48-HLX-2</h3><br />
            <small>Ford Focus</small>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <strong><i class="fa fa-user margin-r-5"></i> Eigenaar</strong>

            <p class="text-muted">
                Tony Hsieh
            </p>

            <hr>

            <strong><i class="fa fa-dashboard margin-r-5"></i> Kilometerstand</strong>

            <p class="text-muted">4.238 km</p>

        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>